{
	background-image: url("Layer 3.png");
	position: absolute;
	left: 2964px;
	top: 1166px;
	width: 1765px;
	height: 2007px;
	z-index: 7;
}



}
.nav_list a:hover {
	background: rbg(200, 200, 200);
	border-radius: 5%;
	color: blueviolet;
}
.nav_list li:nth-child(1) a {
	color: crimson;
}
</style > .nav {
	width: 100%;
	margin: 3em 0 0;
	background: rbga(255, 255, 255, .7);
	padding 5.5px;
}
.nav_list {
	list-style-type: disc;
}
.nav_list li {
	padding: 10px;
	display: inline;
}
.nav_list a {
	color: rbga(0, 0, 255);
	text-decoration: none;
}
.nav_list a:hover {
	background: rbg(200, 200, 200);
	border-radius: 5%;
	color: blueviolet;
}
.nav_list li:nth-child(1) a {
	color: crimson;
}

* {
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Teko', sans-serif;
	color: #464640;
	padding: 0;
	margin: 0;
}

*/..body background on top..\* h1,
h2,
h3,
h4,
h5,
h6 h1 {
	font-size: 60px;
}

h2 {
	font-size: 55px;
}

h3 {
	font-size: 42px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 9px;
}
